<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title mdl-badge">The Motivation app</span>
  <a class="slogan inset-text">Nothing is impossible to a willing heart. John Heywood</a>

  <!-- Add spacer, to align navigation to the right -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="#">Home</a>

    <div ng-hide=vm.isSigned()>
      <a class="mdl-navigation__link" href="#/login">Login</a>
    </div>

    <div ng-hide=vm.isSigned()>
      <a class="mdl-navigation__link" href="#/registration">Register</a>
    </div>

    <div ng-show="vm.isSigned()">
      <a class="mdl-navigation__link" href="#/wishes">Add Wish</a>
    </div>

    <div ng-show="vm.isSigned()">
      <button type="submit" ng-click='vm.handleSignOutBtnClick()'>Sign out</button>
    </div>

  </nav>

  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
<!--   <span class="mdl-navigation__link">Application was created {{ vm.relativeDate }}.</span> -->
</div>
