.mdl-layout__header-row {
  background-color: #006bb3;
}
.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {

}

.slogan {
  text-align: right;bottom: center;
  padding-top: 4%;
  font-family: Helvetica, Arial, sans-serif;
}
.inset-text {
    color: rgba(10,60,150, 0.8);
}
