// .logo { background: url(./**/assets/images/assambly.png);


.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

// a:hover, a:focus {
//   color: greenyellow;
// }

.nav-wrapper {
  .brand-logo {
    padding-left: 4%;
  }
  li {
    line-height: 64px;
  }
}

.test-logo {
  height:60px;
  width: 60px;
  background-image:url("../src/assets/images/assembly.png");
}
