<nav>
  <div class="nav-wrapper">
    <a class="brand-logo left">Motivation</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Your Wishes</a></li>
      <li><a ng-hide="vm.loginStatus" href="#/login">Login</a></li>
      <li><a ng-hide="vm.loginStatus" href="#/registration">Register</a></li>
      <li><a ng-show="vm.loginStatus" href="#/wishes">Add Wish</a></li>
      <li><a ng-show="vm.loginStatus" href="#" ng-click='vm.handleSignOutBtnClick()'>Sign out</a></li>
    </ul>
  </div>
</nav>
  <!-- Add spacer, to align navigation to the right -->
 <!--  <div class="mdl-layout-spacer"></div>
  Navigation. We hide it in small screens. -->
<!--   <span class="mdl-navigation__link">Application was created {{ vm.relativeDate }}.</span> -->
