<nav class="background">
  <div class="nav-wrapper">
    <a class="brand-logo left">Motivation
      <!-- <div class="test-logo"></div>
       <img width="100" src="./src/assets/images/assembly.png"> -->
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Your Wishes</a></li>
      <li><a ng-hide="vm.isSigned()" href="#/login">Login</a></li>
      <li><a ng-hide="vm.isSigned()" href="#/registration">Register</a></li>
      <li><a ng-show="vm.isSigned()" href="#/wishes">Add Wish</a></li>
      <li><a ng-show="vm.isSigned()" href="#" ng-click='vm.handleSignOutBtnClick()'>Sign out</a></li>
    </ul>
  </div>
</nav>
  <!-- Add spacer, to align navigation to the right -->
 <!--  <div class="mdl-layout-spacer"></div>
  Navigation. We hide it in small screens. -->
<!--   <span class="mdl-navigation__link">Application was created {{ vm.relativeDate }}.</span> -->
