.footer-copyright{
  .container {
  position: relative;
  bottom: 0;
  background: #f0f0f0;
  width: 100%;
  padding: 20px 10px 0;
  }
}

.footer-copyright{
  .right {
    width: 20%;
  }
}


.copy{
  display: inline-block;
}
