<header class="mdl-layout__header">
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>

<form role="form" ng-init="wishForm = {}">
  <div class="form-group">
    <label for="wish">Add a new wish:</label>
    <input type="text" name="wish_text" ng-model="wishForm.wish_text" required="required" class="form-control">
  </div>

  <div class="form-group">
    <label for="outcome">What is your outcome?</label>
    <input type="text" name="outcome_text" ng-model="wishForm.outcome_text" required="required" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary btn-lg" ng-click="wishes.createWish()">Add your wish</button>
</form>

<div ng-repeat="wish in wishes.wishes">
  Wish: {{wish.wish_text}}<br>
  Outcome: {{wish.outcome_text}}

  <edit-wish-form wish_> </edit-wish-form>
 <!--  <form role="form" ng-init="wishEditForm = {}">
    <div class="form-group">
      <label for="wish">Edit your wish:</label>
      <input type="text" name="wish_text" ng-model="wishFormEdit.wish_text" required="required" class="form-control">
    </div>

    <div class="form-group">
      <label for="outcome">What is your outcome?</label>
      <input type="text" name="outcome_text" ng-model="wishFormEdit.outcome_text" required="required" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-lg" ng-click="">Submit change</button>
  </form> -->
</div>
