<form role='form' ng-init="recordProgressForm = {}">
  Have you successfully executed your plan today?</br>
  <div class="radio">
    <label>
        <input type="radio" name="completed" value="true" ng-model="recordProgressForm.completed">
        Yes
    </label>
  </div>
  <div class="radio">
    <label>
        <input type="radio" name="completed" value="false" ng-model="recordProgressForm.completed">
        I'll try harder nextime
    </label>
  </div>
  <button ng-click='vm.submitResult()'>Submit</button>
</form>

<p>You are on a hot streak for {{vm.streakDays}} days!</p>